:root {
  --main-brown: #795547;
  --main-dark-brown: #63453a;
  --white-text: #ffffff;
  --light-gray: #F2EDEB;
  --dark-gray: #BDBDBD;
  --red-forbidden: #e73333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 1.8%;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}